


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myBook.com</title>
  <link rel="stylesheet" href="style1.css">

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<!-- bootstrap -->

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- jQyery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
  <section id="upper">
    <form method="POST" action="/api/uploadBooks" 
    enctype="multipart/form-data" style="border: 1px solid #ccc;">
      <div class="container">

          <h1 class='welcome-text'>Welcome<br>to<br>myBook.com</h1>
          <i class="fa fa-book fa-4x"></i>
        <div class='start'>
          <label class="form-control">Book Name</label><br>
          <input class="form-control " type="text" placeholder="bookname" ><br>
          <label class="form-control ">Select Book Image</label><br>
          <input class="form-control " type="file" name="bookImage"><br>
          <label class="form-control ">Select PDF</label><br>
          <input class="form-control " type="file" name="bookPdf"><br>

          <div class="btn">
            <input type="submit" name="btn_upload_book" value="Upload" />
          </div>
        </div>
      </div>
    </form>
  </section>
  <script src='/routes/auth.js'></script>
</body>

</html>