<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myBook.com</title>
  <link rel="stylesheet" href="style1.css">

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<!-- bootstrap -->

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- jQyery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
  <section id="upper">
    <form class="" action="index.html" method="post" style="border: 1px solid #ccc;">
      <div class="container">

          <h1 class='welcome-text'>Welcome<br>to<br>myBook.com</h1>
          <i class="fa fa-book fa-4x"></i>
        <div class='start'>
          <label class="form-control">username</label><br>
          <input class="form-control " type="text" placeholder="username" ><br>
          <label class="form-control ">password</label><br>
          <input class="form-control " type="password" placeholder="password"><br>
          <label class="form-control ">confirm password</label><br>
          <input class="form-control " type="password" placeholder="confirm password"><br>
          <label class="form-control ">mobile number</label><br>
          <input class="form-control " type="text" placeholder="Enter number"><br>
          <label class="form-control ">Email</label><br>
          <input class="form-control " type="text" placeholder="Email">
          <div class="btn">
            <button type="submit" class="btn"> <a href="mainpage.html">sign up</a> </button><br>
            <button type="submit" class="btn"><a href="login.html">Log in</a></button>
          </div>
        </div>
      </div>
    </form>
  </section>
  <script src='app.js'></script>
</body>

</html>
