<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>myBook-Log in</title>
  <link rel="stylesheet" href="style1.css">
</head>
<body>
  <form class="login" action="/api/login" method="post" style="border: 1px solid #ccc;">
    <div class="login-container">
      <h1>Log in</h1>
      <label class="form-control">Email</label><br>
      <input class="form-control " type="text" placeholder="Email" name="email"><br>
      <label class="form-control ">password</label><br>
      <input class="form-control " id='myInput' type="password" placeholder="password" name="password"><br>
      <input type="checkbox" onclick="myFunction()">Show Password <br>
      <button type="submit" class="btn">Log in</a></button>
    </div>
  </form>
  <script src='/routes/auth.js'></script>
</body>

</html>
