<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>WELCOME-myBook.com</title>
  <link rel="stylesheet" href="style2.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
  <div class="first-container">
    <div class="upper-container">
      <h1 class="welcome">Welcome to myBook.com</h1>
      <img class="icon" src="icon.png" alt="">
      <p class="discount-text">Get <span class="discount">20%</span> off on your first order</p>
    </div>
  </div>
  <div class="second-container">
    <div class="row" id="button">
      <div class="space col-sm-3">
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-search"></i> SEACRH
        </button>
      </div>
      <div class="space col-sm-3">
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-download"></i> DOWNLOAD
        </button>
      </div>
      <div class="space col-sm-3">
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-print"></i> PRINT
        </button>
      </div>
      <div class="space col-sm-3">
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-star"></i> FAVOURITE
        </button>
      </div>
    </div>
  </div>
  <div class="image-container">
    <div class="row">
      <img class='img' src="https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
      <img class='img' src="https://images.unsplash.com/photo-1583526241256-cb18e8635e5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
      <img class="img" src="https://images.unsplash.com/photo-1589200348508-adf9bb6e0828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
    </div>
  </div>
  <div class="third-container">
    <div class="row">
    <div class=" col-lg-3 col-sm-6">
      <img class='book' src="books/1.jpg" alt="">
      <p class="book-name">Animal farm <br>-George Orwell</p>
    </div>
    <div class=" col-lg-3 col-sm-6">
      <img class='book' src="books/2.jpg" alt="">
      <p class="book-name">The Art of War<br>-Szu Tzu</p>
    </div>
    <div class=" col-lg-3 col-sm-6">
      <img class='book'  src="books/3.jpg" alt="">
      <p class="book-name">Everybody Writes <br>-Ann Hanley</p>
    </div>
    <div class=" col-lg-3 col-sm-6">
      <img  class='book' src="books/4.jpg" alt="">
      <p class="book-name">1984<br>George Orwell</p>
    </div>
    <div class=" col-lg-3 col-sm-6">
      <img class='book'  src="books/5.jpg" alt="">
      <p class="book-name">How to learn<br>almost anything<br>in 48hr<br>-Tansek Ali</p>
    </div>
    <div class=" col-lg-3 col-sm-6">
      <img class="book" src="books/6.jpg" alt="">
      <p class="book-name">Astronomy<br>-Unknown</p>
    </div>
    <div class=" col-lg-3 col-sm-6">
      <img class='book'  src="books/7.jpg" alt="">
      <p class="book-name">The leader who<br>had no title<br>-Robin Sharma</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/8.jpg" alt="">
      <p class="book-name">Julius Ceaser<br>-William Shakespeare</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img  class='book' src="books/9.jpg" alt="">
      <p class="book-name">Mein kampf<br>-Adolf Hitler</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img  class='book' src="books/10.jpg" alt="">
      <p class="book-name">Rich Dad poor dad<br>-Robert T. Kiyosaki</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/11.jpg" alt="">
      <p class="book-name">The Alchemist<br>-Paulo Coelho</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/12.jpg" alt="">
      <p class="book-name">The Intelligent<br>Investor<br>-Benjamin Graham</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/13.jpg" alt="">
      <p class="book-name">The Laws of<br>Human nature<br>-Robert Greene</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/14.jpg" alt="">
      <p class="book-name">The Monk who<br>sold his ferrari<br>-Robin Sharma</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/15.jpg" alt="">
      <p class="book-name">The power of<br>Subconsious mind<br>-Joseph Murphy</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/16.jpg" alt="">
      <p class="book-name">River King<br>-Alice Hoffman</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/17.jpg" alt="">
      <p class="book-name">The subtle art<br>of not giving<br>a f*uck<br>-Mark Manson</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/18.jpg" alt="">
      <p class="book-name">Think & Grow<br>Rich<br>-Napoleon Hill</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/19.jpg" alt="">
      <p class="book-name">Bleak House<br>-Charles Dickens</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <img class='book'  src="books/20.jpg" alt="">
      <p class="book-name">A Christmas Carol<br>-Charles Dickens</p>
    </div>
  </div>
  </div>
  <div class="fourth-container">
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-4 offset-1 col-sm-2">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li><a href="#button">Search</a></li>
              <li><a href="#button">Download</a></li>
              <li><a href="#button">Print</a></li>
              <li><a href="#button">Favourite</a></li>
            </ul>
          </div>
          <div class="col-7 col-sm-5">
            <h5 class="contact">Contact us</h5>
            <address>
              GANGANAGAR , MEERUT , Uttar Pradesh<br />
              India<br />
              <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br />
              <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br />
              <i class="fa fa-envelope fa-lg"></i>:
              <a href="mailto:confusion@food.net">myBook.com</a>
            </address>
          </div>
          <div class="col-12 col-sm-4 align-self-center">
            <div class="text-center">
              <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
              <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
              <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
              <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <p class="discount-text">© Copyright 2020 myBook.com </p>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <div class="last-container">

  </div>
  <script src="app.js"></script>
</body>

</html>
